* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  --font-base: "Raleway", sans-serif;
  --my-letter-spacing: 5%;

  --title-lg: bold 48px var(--font-base);
  --title-lg2: bold 28px var(--font-base);
  --title-md: bold 40px var(--font-base);
  --title-sm: bold 2rem var(--font-base);
  --title-xs: bold 1rem/100% var(--font-base);

  --body-lg: 20px/140% var(--font-base);
  --body-md: 1rem/140% var(--font-base);
  --body-sm: 14px/140% var(--font-base);
  --body-xs: 12px/140% var(--font-base);

  --subtitle: 36px var(--font-base);
  --button: bold 14px var(--font-base);
  --link: 14px var(--font-base);
  --tag: bold 10px uppercase var(--font-base);
}

body {
  background: linear-gradient(
    180deg,
    rgba(1, 1, 14, 1) 0%,
    rgba(63, 15, 65, 1) 40%,
    rgb(4, 17, 34) 76%
  );
}
